body{
background: rgb(0, 0, 0);
color: white;
width: 100%;
height: 100%;
padding: 0;
}
.hero{
background-image: url("./myprofilepic.jpg");
background-repeat: no-repeat;
background-position: center;
filter: drop-shadow(8px 8px 10px gray) grayscale(99%);
width: 100%;
height: 100vh;
opacity: 20%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
/* z-index: 1; */



}
header{
    font-size: 34px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    /* padding-top: 10%; */
    color: whitesmoke;
    /* z-index: 2; */
    display: flex;
   
}
.content{

  width: 50%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;


}

#mySidenav a {
  position: absolute; 
  left: -80px; 
  transition: 0.2s; 
  padding: 10px;
  width: 100px;
  text-decoration: none; 
  font-size: 20px;
  color: white; 
  border-radius: 0 5px 5px 0; 
}

#mySidenav a:hover {
  left: 0; 
}

#about {
  top: 20px;
  background-color: #555 /* Light Black */
}

#blog {
  top: 80px;
  background-color: #555 /* Light Black */
}

#projects {
  top: 140px;
  background-color: #555 /* Light Black */
}

#contact {
  top: 200px;
  background-color: #555 /* Light Black */
}
ul {
  display: flex;

    /* margin: 0; */
    /* padding: 0; */
    display: flex;
    justify-content: center;
    width: 100%;
    /* text-align: center; */
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
  }
  footer{
    display: flex;
  }
  
  ul li {
    list-style: none;
    margin: 0 15px;
  }
  
  ul li a {
    /* position: relative;  */
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: rgba(20, 20, 20, 0.856);
    border-radius: 50%;
    font-size: 30px;
    color: rgb(255, 0, 0);
    transition: .5s;
  }
  
  ul li a::before {
    /* content: ''; */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ff0000;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #fd0000;
  }
  
  ul li a:hover {
    color: #fd0000;
    box-shadow: 0 0 5px #fd0000;
    text-shadow: 0 0 5px #fd0000;
  }

  @media (max-width: 576px) {
    .hero{
      background: rgb(247, 242, 242);
      border: rgb(0, 0, 0), solid, 5px;
      display: flex;
    }
    body{
      flex-shrink: inherit;
    }
  }

