body{
    background: linear-gradient(to bottom right, rgba(255,0,0,0), rgb(212, 207, 207));
    color: rgb(10, 0, 0);
    border: black;
    border-style: solid;
    box-sizing: 1px;
  display: flex;
  flex-direction: column;
  padding: 10px;px;

}
header{
    text-align: center;
    justify-content: center;
    background: white;
    font-size: 3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
textarea{
    width: 100%;
    height: 15em;
    padding: 1em;
    border: 1px solid #E8E8E8;
}
input [type=text] {
    padding: 12px 20px;
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: black 1px;
    box-sizing: border-box;
    box-shadow: 15px 25px 15px 4px rgb(0, 0, 0);
}
div{
    width: 400px;
    padding: 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
   
} 
